
<div id="applicationHost"> 

    kkkkkkkkkkkkkkkk
</div>
<script src="~/app/lib/require/require.js"></script>
<script src="~/app/requireSetup.js"></script>
<script>
    require.config({
        baseUrl: 'app'
    });
    require(['main'], function () { });

</script>
