/*#region RESET CSS*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
}
/*#endregion RESET CSS*/

/*#region COMMON CSS*/
a {
    outline: none;
    cursor: pointer;
}

img {
    border: 0;
}

textarea {
    resize: none;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333333;
    background-color: #EFEFF2 !important;
    counter-reset: section;
}

input.number,
input.date {
    text-align: right;
}

@media (min-width: 768px) {
    .invisible-mobile {
        display: none !important;
    }
}

@media (max-width: 767px) {
    .invisible-tablet {
        display: none !important;
    }
}
/*#endregion DEFAULT CSS*/

/*#region DashBoard*/
.dashboard {
    display: block;
    margin-bottom: 5px;
}

    .dashboard .title {
        float: left;
        font-size: 34px;
        margin-top: 40px;
    }

    .dashboard .icon {
        float: right;
        font-size: 34px;
        margin-top: 10px;
    }

        .dashboard .icon img {
            width: 180px;
        }

    .dashboard .offline-ui {
        float: right;
    }

    .offline-ui-up {
        float: right;
        border-radius: 25px;
        font-size: 18px;
        margin-top: 10px;
        width: 100px;
        height:34px;
        display:block;
        text-align:center;
        padding-top:5px;
        -webkit-animation: offline-fadeout-and-hide forwards 0.5s 2s;
        -moz-animation: offline-fadeout-and-hide forwards 0.5s 2s;
        -ms-animation: offline-fadeout-and-hide forwards 0.5s 2s;
        -o-animation: offline-fadeout-and-hide forwards 0.5s 2s;
        animation: offline-fadeout-and-hide forwards 0.5s 2s;
        -webkit-backface-visibility: hidden;
        background-color: #d6e9c6;
        color: #468847;
    }
    .offline-ui-down {
        float: right;
        border-radius: 25px;
        font-size: 18px;
        margin-top: 10px;
        width: 100px;
        height:34px;
        display:block;
        text-align:center;
        padding-top:5px;
        -webkit-animation: offline-fadein 0.5s;
        -moz-animation: offline-fadein 0.5s;
        -ms-animation: offline-fadein 0.5s;
        -o-animation: offline-fadein 0.5s;
        animation: offline-fadein 0.5s;
        -webkit-backface-visibility: hidden;
        background: #ec8787;
        color: #551313;
    }

    .dashboard .display-username {
        display: none;
        text-align: center;
        margin: 10px 0;
    }

        .dashboard .display-username .user-avatar {
            padding-top: 2px;
            padding-left: 2px;
            color: #272727;
            font-size: 19px;
            font-weight: normal;
        }


@media (max-width: 640px) {
    .dashboard .title {
        display: none;
    }

    .dashboard .icon {
        display: none;
    }

    .dashboard .display-username {
        display: block;
    }
}
/*#endregion Dashboard */

/*#region Navigation Bar*/
#navigationBar {
    min-height: 45px !important;
    margin-bottom: 0;
}

    #navigationBar .amtmobile-left-open {
        color: #fff;
        font-size: 21px;
        text-decoration: none;
        outline: none;
    }
/*#endregion Navigation Bar*/

/*#region Background Page Under Popup*/
.background-page-under-popup {
    text-align: center;
}

    .background-page-under-popup .ico {
        font-size: 197.1px;
        vertical-align: middle;
    }

    .background-page-under-popup .txt {
        color: #E91D25;
        font-size: 55pt;
    }


@media (max-width:960px) {
    .background-page-under-popup .ico {
        font-size: 170px;
        vertical-align: middle;
    }

    .background-page-under-popup .txt {
        color: #E91D25;
        font-size: 50pt;
    }
}

@media (max-width: 768px) {
    .background-page-under-popup .ico {
        font-size: 150px;
        vertical-align: middle;
    }

    .background-page-under-popup .txt {
        color: #E91D25;
        font-size: 45pt;
    }
}

@media (max-width: 200px) {
    .background-page-under-popup {
        padding-top: 25px;
    }

        .background-page-under-popup .ico {
            font-size: inherit;
            vertical-align: middle;
        }

        .background-page-under-popup .txt {
            color: #E91D25;
            font-size: inherit;
        }
}

@media (max-width: 360px) {
    .background-page-under-popup {
        padding-top: 25px;
    }

        .background-page-under-popup .ico {
            font-size: 100px;
            vertical-align: middle;
        }

        .background-page-under-popup .txt {
            color: #E91D25;
            font-size: 20pt;
        }
}

@media(max-width: 640px) {
    .background-page-under-popup {
        padding-top: 25px;
    }

        .background-page-under-popup .ico {
            font-size: 100px;
            vertical-align: middle;
        }

        .background-page-under-popup .txt {
            color: #E91D25;
            font-size: 20pt;
        }
}
/*#endregion Background Page Under Popup*/

/*#region Dialog Backdrop Color*/
.dialog-backdrop {
    background-color: rgba(0, 0, 0, 0.3);
}

.modal > .modal-dialog {
    display: none;
}
/*#endregion Dialog Backdrop Color*/

/*#region Page Header*/
@media (max-width: 640px) {
    .page .header .left-command {
        padding-left: 5px;
        padding-right: 5px;
        z-index: 100;
    }

        .page .header .left-command .btn,
        .page .header .right-command .btn {
            margin-top: 7px;
        }

    .page #mainContent {
        padding-top: 0;
        padding-bottom: 1px !important;
    }
}
/*#endregion Page Header*/

/*#region Page Loading Animation*/
#pageLoaderContainer {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    z-index: 10000;
}

#pageLoader {
    display: block;
    width: 160px;
    height: 50px;
    background-color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0.85;
    z-index: 10001;
    margin-left: -80px;
    margin-top: -25px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

    #pageLoader .animation {
        font-size: 25px;
        color: #ffffff;
        position: relative;
        left: 20px;
        top: 8px;
        display: block;
        float: left;
    }

    #pageLoader .loading {
        color: #ffffff;
        font-size: 16px;
        font-weight: bold;
        position: relative;
        left: 38px;
        top: 14px;
        display: block;
        float: left;
    }

#pageLoaderContainerQuoteRepricing {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    z-index: 10000;
}

    #pageLoaderQuoteRepricing {
        display: block;
        width: 340px;
        height: 50px;
        background-color: #000;
        position: fixed; /*absolute;*/
        top: 50%;
        left: 45%;
        opacity: 0.85;
        z-index: 10001;
        margin-left: -80px;
        margin-top: -25px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }

    #pageLoaderQuoteRepricing .animation {
        font-size: 25px;
        color: #ffffff;
        position: relative;
        left: 20px;
        top: 8px;
        display: block;
        float: left;
    }

    #pageLoaderQuoteRepricing .loading {
        color: #ffffff;
        font-size: 16px;
        font-weight: bold;
        position: relative;
        left: 38px;
        top: 14px;
        display: block;
        float: left;
    }

    #progressBarContainer {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    z-index: 10000;
}

    #progress {
    display: block;
    width: 160px;
    height: 50px;
    background-color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0.85;
    z-index: 10001;
    margin-left: -80px;
    margin-top: -25px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

    #progress .animation {
        font-size: 25px;
        color: #ffffff;
        position: relative;
        left: 20px;
        top: 8px;
        display: block;
        float: left;
    }

    #progress .loading {
        color: #ffffff;
        font-size: 16px;
        font-weight: bold;
        position: relative;
        left: 38px;
        top: 14px;
        display: block;
        float: left;
    }
/*#endregion Page Loading Animation*/

/*#region Override Toastr*/
.toastr-newest-on-top {
    position: fixed !important;
    top: 0;
    vertical-align: top;
}
/*#endregion Override Toastr*/

/*#region DateTime Picker*/
.bootstrap-datetimepicker-widget td.today:before {
    float: right;
    margin-left: -6px;
    margin-top: 13px;
    position: static !important;
}

.bootstrap-datetimepicker-widget td span {
    display: inline !important;
    float: none !important;
    height: auto !important;
    line-height: normal !important;
    margin: 0 !important;
    width: auto !important;
}
/*#endregion DateTime Picker*/

.show-hand {
    cursor: pointer;
}

input::-ms-clear {
    display: none;
}

.no-border-left {
    border-left: none !important;
}

.no-resize {
    resize: none;
}

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.div-has-error {
    color: #B94A48 !important;
}

.has-error {
    border-color: #B94A48 !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

    .has-error:focus {
        border-color: #953B39;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px #D59392;
    }

.form-control[readonly] {
    background-color: transparent !important;
}

.form-control[disabled] + span.add-on {
    color: #808080;
    cursor: not-allowed;
}

.form-control[disabled] + span.input-group-addon {
    color: #808080;
    cursor: not-allowed;
}

.form-control[disabled] + .input-group-addon span {
    cursor: not-allowed;
}

.messagebox-fixed-width {
    min-width: 0px;
    width: 300px;
}

.date-navigation {
    padding: 0px;
}

.bootstrap-datetimepicker-widget a {
    color: #333333;
}

.bootstrap-datetimepicker-widget td.active, .bootstrap-datetimepicker-widget td.active:hover {
    background-color: #333333;
}

.bootstrap-timepicker-widget {
    z-index: 9999 !important;
}

/*!
 * Durandal 2.0.0 Copyright (c) 2012 Blue Spire Consulting, Inc. All Rights Reserved.
 * Available via the MIT license.
 * see: http://durandaljs.com or https://github.com/BlueSpire/Durandal for details
 */
.modalBlockout {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    pointer-events: auto;
    -webkit-backface-visibility: hidden;
    -webkit-transition: opacity 0.1s linear;
    -moz-transition: opacity 0.1s linear;
    -o-transition: opacity 0.1s linear;
    transition: opacity 0.1s linear;
}

.modalHost {
    top: 50%;
    left: 50%;
    position: fixed;
    opacity: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transition: opacity 0.1s linear;
    -moz-transition: opacity 0.1s linear;
    -o-transition: opacity 0.1s linear;
    transition: opacity 0.1s linear;
}

.messageBox {
    background-color: white;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    outline: none;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    min-width: 300px;
}

.durandal-view-404 {
    color: red;
    margin: 8px 0;
    padding: 8px;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.hide-file-ctrl {
    display: none !important;
}

::i-block-chrome, .hide-file-ctrl {
    display: block !important;
    visibility: hidden;
}

/*TypeHead Library Style*/
.typeahead {
    overflow-y: auto;
}

a {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.icon-spinner.hidden-icon {
    visibility: hidden;
    position: fixed;
    bottom: -1000px;
}

.close {
    font-size: 1em;
}

/*#region Dialog */
.dialog .panel .panel-heading {
    position: relative;
    font-weight: bold;
    padding: 10px 15px;
    text-align: left;
}

    .dialog .panel .panel-heading .heading {
        font-size: 18px;
        text-align: left;
        font-weight: normal;
        padding-right: 30px;
    }

    .dialog .panel .panel-heading .button-close {
        float: right;
    }

    .dialog .panel .panel-heading a {
        color: #333333;
    }

.dialog .panel .panel-body {
    border-top: none;
    padding-top: 20px;
    padding-bottom: 20px;
}

    .dialog .panel .panel-body .form-control {
        min-height: 38px;
    }

    .dialog .panel .panel-body .row {
        margin-bottom: 10px;
    }

    .dialog .panel .panel-body .last-row {
        margin-bottom: 0px !important;
    }

    .dialog .panel .panel-body .form {
        padding: 0;
        margin-bottom: 0px;
    }

    .dialog .panel .panel-body .tab-content .form {
        padding: 0 15px;
    }

    .dialog .panel .panel-body .tab-content .list-group {
        border: 1px solid #dddddd;
        border-radius: 4px;
        background-color: #efeff2;
        max-height: 360px;
        overflow-y: auto;
        margin-top: 10px;
    }

.dialog .panel .panel-footer {
    padding: 12px 0 12px 0;
    text-align: right;
}

    .dialog .panel .panel-footer.row {
        margin-left: 0;
        margin-right: 0;
    }

    .dialog .panel .panel-footer .form-control {
        height: 33px;
        font-size: 14px;
    }

@media (max-width: 640px) {
    .dialog .panel .panel-heading .button-close .close {
        width: 46px;
        height: 46px;
        padding: 10px 15px;
        text-align: center;
        position: absolute;
        top: 0;
        right: 0;
    }

    .dialog .panel .panel-body .form {
        background-color: #FFFFFF;
        padding: 0;
        border-radius: 0;
    }

        .dialog .panel .panel-body .form .form-group {
            border: none;
            padding: 8px 0 8px 0;
            margin: 0;
            min-height: initial;
        }

            .dialog .panel .panel-body .form .form-group .control-label {
            }

            .dialog .panel .panel-body .form .form-group .control-value-container {
            }

            .dialog .panel .panel-body .form .form-group .control-text-container {
            }

    .dialog .panel .panel-body .tab-content .form {
    }

    .dialog .panel .panel-body .tab-content .list-group {
        border: 1px solid #dddddd;
        background-color: #efeff2;
        margin-bottom: 0;
        max-height: 360px;
        min-height: 360px;
        overflow-y: auto;
    }
}
/*#endregion Dialog*/

/* In case dialog heading is a tab */
.refine-tab .dialog .panel .panel-heading {
    position: relative;
    font-weight: bold;
    padding: 0 0 0 5px;
    border: none;
}

    .refine-tab .dialog .panel .panel-heading .button-close {
        margin: 15px 10px 0 0;
    }

/* Format for amtmobile-... icon */
.amtmobile-cancel {
    color: #C8C8C8;
    font-size: 16px;
    line-height: 30px;
    outline: medium none;
    text-decoration: none;
    height: 30px;
    width: 30px;
    display: inline-block;
}

    .amtmobile-cancel:hover {
        cursor: pointer;
    }

a.amtmobile-thrill-through:hover {
    color: #C8C8C8;
    font-size: 35px;
    outline: medium none;
    text-decoration: none;
}

.amtmobile-thrill-through {
    color: #C8C8C8;
    font-size: 35px;
    outline: medium none;
    text-decoration: none;
    line-height: 29px;
}

    .amtmobile-thrill-through:before {
    }

    .amtmobile-thrill-through:hover {
        cursor: pointer;
    }

.amtmobile-navigation-back {
}

    .amtmobile-navigation-back:before {
    }

    .amtmobile-navigation-back:hover {
    }

@media (max-width: 640px) {
    .amtmobile-thrill-through {
        font-size: 24px;
        top: 0;
    }

        .amtmobile-thrill-through:before {
        }

        .amtmobile-thrill-through:hover {
            cursor: pointer;
        }

    .amtmobile-navigation-back {
    }

        .amtmobile-navigation-back:before {
        }

        .amtmobile-navigation-back:hover {
        }
}

/*#region Page Container*/
.page-container {
    margin: 0px;
    padding: 0px;
}

    .page-container .page-header {
        background-color: #1b1b1b;
        background-image: -webkit-gradient(linear, center top, center bottom, from(#171516), to(#000000));
        background-image: -webkit-linear-gradient(top, #171516, #000000);
        display: block;
        height: 45px;
        margin: 0 0 35px 0;
        padding: 0;
        color: #FFFFFF;
        border: none;
    }

        .page-container .page-header .left-command {
            height: 45px;
        }

        .page-container .page-header .mid-command {
            height: 45px;
            padding: 0;
            text-align: center;
            /*display: table-cell;*/
            vertical-align: middle;
            overflow: hidden;
        }

            .page-container .page-header .mid-command .page-title {
                /*font-size: 18px;
                line-height: 22px;
                margin: 0;
                padding: 0;
                display: inline-table;
                min-width: 50%;*/
                color: #fff;
                text-align: center;
                margin: 0 auto;
                height: 45px;
                overflow: hidden;
                padding-right: 20px;
            }

                .page-container .page-header .mid-command .page-title > div {
                    width: 100%;
                    text-align: center;
                    white-space: nowrap;
                    margin: -3px 3px;
                    overflow: hidden;
                    font-size: 18px;
                }

            .page-container .page-header .mid-command.single-page-header .page-title:not(.logo) {
                /*margin-top: 10px;*/
                line-height: 45px;
            }

            .page-container .page-header .mid-command .logo,
            .page-container .page-header .left-command .logo {
                background-image: url("SVG/amt_colour.svg");
                background-repeat: no-repeat;
                background-size: 100px 28px;
                background-position: center;
                outline: none;
                display: block;
                height: 45px;
                width: 100px;
            }

        .page-container .page-header .right-command {
            padding: 5px 5px 0 0;
            height: 45px;
        }

            .page-container .page-header .right-command .btn-group {
                float: right !important;
            }

                .page-container .page-header .right-command .btn-group .btn {
                    border: none;
                    background-color: transparent;
                    color: white;
                }

                    .page-container .page-header .right-command .btn-group .btn .logged-user-name {
                        padding-right: 5px;
                    }

                .page-container .page-header .right-command .btn-group ul {
                    min-width: 0px;
                    right: 0;
                    left: auto;
                }

                    .page-container .page-header .right-command .btn-group ul li a {
                        font-weight: bold;
                    }

@media (max-width: 640px) {
    .page-container .page-header {
        margin: 0;
    }

        .page-container .page-header .glyphicon {
            color: #fff;
            font-size: 21px;
            outline: medium none;
            text-decoration: none;
            /*padding: 7px 0px 0px 0px;*/
            line-height: 41px;
            margin: 0;
            cursor: pointer;
        }

        .page-container .page-header .left-command {
            padding-left: 7px;
        }

            .page-container .page-header .left-command a.btn {
                position: relative;
                z-index: 1;
                margin-top: 7px;
            }

        .page-container .page-header .mid-command .page-title {
            color: #ffffff;
            margin-right: 3px;
        }

        .page-container .page-header .mid-command .logo {
            width: 100%;
        }

        .page-container .page-header .right-command .btn {
            float: right !important;
            margin-top: 2px;
        }
}

.page-container .container {
    padding: 0 0 10px 0;
}

@media (max-width: 640px) {
    .page-container .container {
        padding: 0 !important;
    }
}
/*#endregion Page Container*/

/*
    All of rules below are child level of container
    Example:    .container .<rule_name>
*/

/*#region Page Navigation*/
.page-navigation {
    display: table;
    line-height: 30px;
    padding-left: 0;
    padding-right: 0;
}

    .page-navigation .glyphicon {
        display: table-cell;
        color: #333333;
        font-size: 25px;
        vertical-align: middle;
        text-decoration: none;
        cursor: pointer;
        width: 18px;
        padding-top: 7px;
        padding-bottom: 12px;
    }

    .page-navigation .caption {
        display: table-cell;
        font-size: 38px;
        padding: 10px;
    }

@media (max-width: 640px) {
    .page-navigation {
        display: none;
    }
}
/*#endregion Page Navigation*/

/*#region Page Toolbar*/
.page-toolbar {
    padding: 0px;
    color: #333333;
    margin-top: 10px;
}

    .page-toolbar:before, .page-toolbar:after {
        content: " ";
        display: table;
    }

    .page-toolbar:after {
        clear: both;
    }

    .page-toolbar .toolbar-item-left {
        width: 33.33333333333333%;
        float: left;
        text-align: left;
    }

        .page-toolbar .toolbar-item-left .input-group {
            width: 200px;
        }

    .page-toolbar .toolbar-item-middle {
        width: 33.33333333333333%;
        margin: auto;
        text-align: center;
    }

    .page-toolbar .toolbar-item-right {
        width: 33.33333333333333%;
        float: right;
        text-align: right;
        min-height: 1px;
    }

        .page-toolbar .toolbar-item-right .dropdown-menu {
            text-align: left;
        }

    .page-toolbar .glyphicon {
        color: #333333;
        text-decoration: none;
    }

    .page-toolbar .btn-group {
        display: inline-flex;
    }

        .page-toolbar .btn-group .btn-prev,
        .page-toolbar .btn-group .btn-next {
            min-width: 40px;
        }

        .page-toolbar .btn-group .btn-text {
            border-radius: 0;
            min-width: 110px;
            color: #000;
        }

        .page-toolbar .btn-group .btn-icon {
            min-width: 40px;
            margin: 0 10px 0 10px;
        }

        .page-toolbar .btn-group ul.dropdown-menu > li {
            min-width: 115px;
        }

@media (max-width: 640px) {
    .page-toolbar {
        margin-top: 0;
        padding: 5px;
    }
        .quote-documentation-printing .page-toolbar {
            padding: 5px 25px 5px 5px;
        }
        /*tool-bar left*/
        .page-toolbar .toolbar-item-left {
            width: 23%;
        }
        /*tool-bar center*/
        .page-toolbar .toolbar-item-middle {
            width: 54%;
        }
        /*tool-bar right*/
        .page-toolbar .toolbar-item-right {
            width: 23%;
        }
}
/*#endregion Page Toolbar*/

/*#region Page Content*/
.page-content {
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 0px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    background-color: #FFFFFF;
}

    .page-content.menu {
        margin-top: 70px;
    }

@media (max-width: 640px) {
    .page-content {
        margin-top: 0 !important;
        margin-bottom: 30px !important;
        border-radius: 0;
        border-left: none;
        border-right: none;
    }
}
/*#endregion Page Content*/

/*#region Button*/
.btn.btn-primary,
.btn.btn-secondary, .btn.btn-default {
    font-size: 13px;
    height: 40px;
}

.btn.btn-primary {
    background-color: #e91d26;
    border-color: #d43f3a;
}

.btn.btn-secondary {
    background-color: #ffffff;
    border-color: #cccccc;
    color: #333333;
}

/*#endregion Button*/

/*#region Grid*/
.grid {
    font-family: Helvetica, Helvetica, sans-serif;
    font-size: 1em;
    margin: 0;
    color: #333333;
    border: none;
    table-layout: auto;
}

    .grid thead tr th {
        font-size: 0.9em;
        color: #808080;
        font-weight: bold;
        border-bottom: none;
    }

    .grid tbody tr td {
        vertical-align: middle;
    }

        .grid tbody tr td .toggle .checkbox span {
            margin: auto;
        }

        .grid tbody tr td .primary-text {
            color: #333333;
            font-size: 1.8em;
            line-height: 35px;
            display: block;
        }

        .grid tbody tr td .secondary-text {
            color: #333333;
            font-size: 1.3em;
            line-height: 26px;
            display: block;
        }

        .grid tbody tr td .btn.btn-icon {
            background: transparent;
            min-width: 38px;
            height: 38px;
            font-size: 1.5em !important;
            color: #c8c8c8;
        }

    .grid .first-col {
        padding-left: 35px;
    }

    .grid .last-col {
        padding-right: 35px;
        text-align: right;
    }

    .grid tfoot tr {
        border-top: 1px solid #000;
        height: 20px;
    }

    .grid tbody tr td .caption-value-pairs {
    }

        .grid tbody tr td .caption-value-pairs .caption {
        }

        .grid tbody tr td .caption-value-pairs .value {
        }

@media (max-width: 991px) {
    /*.grid {
        font-size: 0.9em;
    }*/

    .grid .first-col {
        padding-left: 20px;
    }

    .grid .last-col {
        padding-right: 20px;
    }
}

@media (max-width: 640px) {
    .grid {
        margin-top: -1px;
        margin-bottom: -1px;
        table-layout: fixed;
    }

        /*.grid > tbody > tr > td {
            padding: 17px 8px 17px 8px;
        }*/

        .grid .first-col {
            padding-left: 0;
            padding-right: 0;
            border: 1px solid #dddddd;
            text-align: center;
            width: 50px;
        }

        .grid .last-col {
            padding-left: 0;
            padding-right: 8px;
            width: 50px;
        }

        .grid tbody tr td .primary-text {
            font-size: 1.6em;
            line-height: 26px;
        }

        .grid tbody tr td .secondary-text {
            font-size: 1.3em;
        }

        .grid tfoot {
            display: none;
        }

        .grid tbody tr td .caption-value-pairs {
            margin-left: 0;
            margin-right: 0;
        }

            .grid tbody tr td .caption-value-pairs .caption {
                padding-left: 0;
                padding-right: 0;
            }

            .grid tbody tr td .caption-value-pairs .value {
                padding-left: 0;
                padding-right: 0;
            }
}
/*#endregion Grid*/

/*#region Form*/
.form {
    font-size: 1em;
    border-radius: 4px;
    padding: 20px 15px 20px 15px;
}

    .form .form-group {
        margin-left: 0;
        margin-right: 0;
        margin-top: 10px;
        margin-bottom: 10px;
    }

        .form .form-group.thrill-through {
            background-image: url("SVG/thrill-throught.svg");
            background-position: right 0 center;
            background-repeat: no-repeat;
            background-size: 17px;
        }

        .form .form-group .control-label {
            width: 25%;
            float: left;
            text-align: left;
            padding-top: 7px;
            color: #575757;
            font-size: 0.9em;
            font-weight: bold;
        }

            .form .form-group .control-label.label-horizontal {
                text-align: right;
                padding-right: 15px;
            }

        .form .form-group .control-value-container {
            width: 75%;
            float: left;
        }


            .form .form-group .control-value-container:after {
                clear: both;
            }

            .form .form-group .control-value-container:after,
            .form .form-group .control-value-container:before {
                display: table;
                content: " ";
            }

            .form .form-group .control-value-container.control-text-container {
                padding-top: 7px;
                height: 40px;
            }

    .form .no-control-label .control-value-container {
        width: 100%;
    }

@media (max-width: 640px) {
    .form {
        background-color: #FFFFFF;
        padding: 0;
        border-radius: 0;
        margin-bottom: -1px;
    }

        .form .form-group {
            border-bottom: 1px solid #dddddd;
            padding: 16px 8px;
            margin: 0;
        }

            .form .form-group .control-label {
                color: #333333;
                font-size: 14px;
                float: none;
                width: 100%;
                text-align: left;
                padding-top: 0;
            }

            .form .form-group .control-value-container {
                float: none;
                width: 100%;
                padding-top: 0;
            }

                .form .form-group .control-value-container .primary-text {
                    font-size: 1.3em;
                    line-height: 26px;
                }

            .form .form-group.single-line {
                padding-top: 16px;
                padding-bottom: 16px;
            }

                .form .form-group.single-line .control-value-container {
                    padding-top: 0;
                }
}
/*#endregion Form*/

/*#region Form Inline*/
.form-inline .form-group .control-label {
    margin-bottom: 0;
    color: #575757;
}

.form-inline .form-group .control-value-container.control-text-container {
    padding-top: 7px;
    padding-bottom: 7px;
}

/*#endregion Form Inline*/

/*#region Menu*/
.list-group {
    margin: 0;
    border: none;
}

    .list-group .list-group-item {
        padding: 13px 25px 13px 25px;
        border-left: 0;
        border-right: 0;
    }

        .list-group .list-group-item:first-child {
            border-top: none;
        }

            .list-group .list-group-item:first-child.list-group-item:last-child {
                border-top: none;
                border-bottom: none;
            }

        .list-group .list-group-item:last-child {
            border-bottom: none;
        }

        .list-group .list-group-item .text {
            color: #333333;
            font-size: 22px;
            line-height: 35px;
        }

        .list-group .list-group-item .amtmobile-thrill-through {
            text-align: right;
            float: right;
        }

@media (max-width: 640px) {
    .list-group .list-group-item {
        border-radius: 0;
        padding: 16px 8px 16px 8px;
    }

        .list-group .list-group-item .text {
            font-size: 18px;
            line-height: 24px;
            display: inline-block;
            width: 90%;
        }

        .list-group .list-group-item .amtmobile-thrill-through {
            line-height: 18px;
            display: inline-block;
            width: 7%;
        }
}
/*#endregion Menu*/

/*#region List*/
@media (max-width: 640px) {
    .list-group.list-default {
        margin: 0;
        border: none;
    }

        .list-group.list-default .list-group-item {
            padding: 13px 25px 13px 25px;
            border-left: 0;
            border-right: 0;
        }

            .list-group.list-default .list-group-item .text {
                color: #333333;
                font-weight: 500;
                width: 90%;
                line-height: 24px;
            }

            .list-group.list-default .list-group-item .icon {
                float: right;
                text-align: right;
                width: 10%;
                line-height: 18px;
            }
}
/*#endregion List*/

/*#region Rating*/
.rating:hover {
    cursor: pointer !important;
}

.rating .default {
    height: 100%;
    line-height: 30px;
    text-align: center;
}

.rating .special {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: inline-block;
}

@media (max-width: 640px) {
    .rating .special {
        width: 28px;
        height: 28px;
    }
}

.rating .no-rating {
    background-color: #F2F2F2;
}

.rating .not-valid-rating {
    background-color: #D9D9D9;
}

.rating .rating1 {
    background-color: #92D050;
}

.rating .rating2 {
    background-color: #FFDC6D;
}

.rating .rating3 {
    background-color: #FF9900;
}

.rating .rating4 {
    background-color: #EE0000;
}
/*#endregion Rating*/

/*#region File Upload*/
.file-upload-wrapper {
    border: 1px solid lightgray;
    border-radius: 4px;
}

    .file-upload-wrapper .no-attachment {
        text-align: left;
    }

    .file-upload-wrapper .row {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .file-upload-wrapper .file-upload-container-tablet {
        max-height: 290px !important;
        overflow-y: auto;
    }

    .file-upload-wrapper .file-upload-container .file-upload-item {
        padding: 10px;
        height: 140px;
    }

    .file-upload-wrapper .file-upload-container .file-name {
        color: #333333;
        display: block;
        text-align: left;
        padding-left: 0;
        font-size: 75%;
        font-weight: bold;
        line-height: 26px;
    }

        .file-upload-wrapper .file-upload-container .file-name:hover {
            color: #333333;
        }

    .file-upload-wrapper .file-upload-container .file-size {
        background-color: white;
        color: #333333;
        display: block;
        text-align: left;
        padding-left: 0;
    }

    .file-upload-wrapper .file-upload-container .file-source {
        border: 1px solid lightgray;
        border-radius: 4px;
        padding-top: 5px;
        padding-bottom: 5px;
        height: 120px;
        width: 120px;
        text-align: center;
    }

        .file-upload-wrapper .file-upload-container .file-source img,
        .file-upload-wrapper .file-upload-container .file-source video {
            max-height: 100px;
            max-width: 100px;
        }

    .file-upload-wrapper .file-browse {
        padding: 10px;
    }

    .file-upload-wrapper .glyphicon-file {
        font-size: 7.2em;
        color: #171515;
    }
/*#endregion File Upload*/

/*#region Clock In*/
@media (max-width: 640px) {
    .clock-inout {
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 0;
        background-color: #fff;
    }

        .clock-inout .btn {
            background-color: #C8C8C8;
            border: 1px solid #969696;
            border-radius: 0;
            color: #1B1B1B;
            font-weight: bold;
        }
}
/*#endregion Clock Out*/

/*#region Hour Status*/
.hour-default {
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    
    background-color: #fff;
    color: #383838;
    border: 1px solid #ccc;
    display: table-cell;
    line-height: 29px;
    min-width: 115px;
    height: 40px;
    min-height: 20px;
    border-radius: 0 !important;
}

    .hour-default.hour-lower {
        border-top: 1px solid #dddddd !important;
        background-color: #d97925 !important;
        color: #fff !important;
        border: none;
    }

    .hour-default.hour-greater {
        border-top: 1px solid #dddddd !important;
        background-color: #f2c12e !important;
        color: #fff !important;
        border: none;
    }

@media(max-width: 991px) {
    .hour-default {
        min-width: 90px;
    }
}

@media(max-width: 640px) {
    .hour-default {
        font-weight: bold;
        font-size: 14px;
    }
}
/*#endregion Hour Status*/

/*#region Custome Binding*/
.max-item-reached-wrapper {
    padding: 0px !important;
}

    .max-item-reached-wrapper .max-item-reached {
        background-color: #C8C8C8;
        border: 1px solid #C8C8C8;
        color: #F8F8F8;
        display: block;
        margin: 0;
        padding: 12px 46px;
        text-align: center;
        font-size: 1em;
        vertical-align: middle;
        line-height: 1em;
    }

@media (min-width: 640px) {
    td > div.max-item-reached {
        padding-top: 22px !important;
        padding-bottom: 22px !important;
    }
}

.has-no-data-wrapper {
    padding: 0px !important;
}

    .has-no-data-wrapper .has-no-data {
        display: block;
        margin: 0;
        padding: 12px 46px;
        text-align: center;
        font-size: 1em;
        vertical-align: middle;
        line-height: 1em;
        color: rgb(155, 155, 155);
    }
/*#endregion Custom Binding*/

/*#region Summary*/
.summary-form-group {
    padding-top: 3px;
    padding-bottom: 3px;
    display: block;
    font-size: 0.9em;
    line-height: 1.1em;
}

    .summary-form-group .summary-label {
        /*float: left;*/
        font-weight: bold;
        display: inline-block;
        width: 40%;
    }

    .summary-form-group .summary-value {
        /*float: left;*/
        padding-left: 5px;
        color: #575757;
        display: inline-block;
        width: 55%;
    }

@media(max-width: 640px) {
    .summary-form-group {
        font-size: 1em;
    }

        .summary-form-group .summary-label {
            width: 40%;
            color: #8A8A8A;
        }

        .summary-form-group .summary-value {
            width: 55%;
        }
}

.summary-item:before,
.summary-item:after {
    display: table;
    content: " ";
}

.summary-item:after {
    clear: both;
}

.summary-item .summary-text.first-text {
    border-right: 1px solid #DDDDDD;
    padding-left: 0;
    text-align: left;
    min-width: 70px;
}

.summary-item .summary-text {
    text-align: right;
    float: left;
    /*padding-left: 15px;
    padding-right: 15px;*/
    width: 25%;
}

/*#endregion Summary*/

/*#region Task Status*/
.task-status.outstanding {
    background-color: #add8e6;
}

.task-status.in-progress {
    color: #ffffff;
    background-color: #ff4500;
}

.task-status.completed {
    color: #ffffff;
    background-color: #0000ff;
}

.task-status.deferred {
    color: #ffffff;
    background-color: #0000ff;
}

.task-status.abandoned {
    color: #ffffff;
    background-color: #0000ff;
}

.task-status.yet-to-start {
    color: #ffffff;
    background-color: #32cd32;
}
/*#endregion Task Status*/

/*#region Status Alert*/
.status-alert.alert-0 {
    color: #738a02;
}

.status-alert.alert-25 {
    color: #ffd249;
}

.status-alert.alert-50 {
    color: #f28729;
}

.status-alert.alert-100 {
    color: #d7131b;
}
/*#endregion Alert*/

/*#region Trend Icon*/
.trend-icon.trend-icon-down {
    color: #E91D26;
}

.trend-icon.trend-icon-up {
    color: #778D02;
}
/*#endregion Trend Icon*/
/*#region Select2*/
.select2-drop-multi .select2-selected {
    display: block;
    color: #000000;
    font-weight: bold;
    background: url(images/checked.svg) no-repeat 100%;
}


/*===========================================*/
/*set border-color #ccc form all control*/
.select2-drop-active {
    border-color: #ccc;
}

.select2-container-active .select2-choice, .select2-container-multi.select2-container-active .select2-choices {
    border-color: #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(204, 204, 204, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(204, 204, 204, 0.6);
}
.select2-dropdown-open.select2-drop-above .select2-choice, .select2-dropdown-open.select2-drop-above .select2-choices {
    border: 1px solid #ccc;
}
.select2-drop-auto-width, .select2-drop.select2-drop-above.select2-drop-active,
.select2-drop.select2-drop-above.select2-drop-active 
{
    border-top-color: #ccc;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default,
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary
{
    border-color: #ccc !important;
    outline: 0;
}


.form-control:focus {
    border-color: #cccccc !important;
    box-shadow: 0 1px 1px #cccccc inset, 0 0 8px #cccccc !important;
}

/*=============================================*/


/*#endregion Select2*/
.form .form-group .discount-label {
    width: 34%;
}

.form .form-group .discount-field {
    width: 66%;
}

.heading-text .heading-label,
.heading-text .heading-value {
    padding-left: 0;
    padding-right: 0;
}

.page-content .unit-of-measure {
    height: 34px;
}

.form .end-usage .checkbox span,
.form .end-date .checkbox span {
    margin: 0 0 0 -5px;
}

.form .form-group .term-label,
.form .form-group .total-travel-costed,
.form .form-group .total-freigh-costed {
    margin-top: 7px;
}

.page-toolbar .toolbar-item-left-mobile {
    float: left;
    font-size: 15px;
    font-weight: bold;
    padding-top: 5px;
    width: 30%;
}

.separator {
    margin: 0;
    color: #dddddd;
    width: 54%;
    float: left;
}

.form .separator-summary-total-cost {
    float: left;
    margin: 0;
    color: #dddddd;
    width: 60%;
}

.mobile .form-horizontal .form-group .travel-distance {
    /*width: 64%;*/
}

.form .form-group .control-value-container .total-cost,
.form .form-group .control-value-container .total-rate,
.form .form-group .control-value-container .risk-rating-net,
.form .control-value-container .total-cost,
.form .summary-total-cost,
.form .summary-total-cost {
    font-weight: bold;
    clear: both;
}

    .form .summary-total-cost .control-label {
        color: #000;
    }

.form .form-group .total-cost-value .total-cost-net,
.form .form-group .total-cost-net,
.form .form-group .total-rate-net {
    font-weight: bold;
    clear: both;
}

.summary-item .scope-detail-job-value {
    width: 12%;
}

.summary-item .scope-detail-job-title {
    width: 50%;
    text-align: left;
    padding-left: 15px;
}

.start-usage,
.start-date {
    width: 90%;
}

.notification-title-heading {
    width: 30%;
}

.notification-assignTo-heading,
.statutory-compliance-lastperform-heading {
    text-align: center;
    width: 25%;
}

.notification-rating-heading {
    text-align: center;
    width: 10%;
}

.statutory-compliance-nextdue-heading {
    text-align: center;
    width: 16%;
}

.statutory-compliance-nextdue-value {
    text-align: center;
}

.notification-asset-heading,
.statutory-compliance-asset-heading {
    width: 40%;
}

.notification-rating-value {
    color: #333333;
    font-size: 20px;
    text-align: center;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    padding-right: 0px !important;
}

.statutory-compliance-lastperform-value {
    text-align: center;
}

.notification-assignTo-value {
    text-align: center;
}

.form .customer-contact .control-label,
.form .unit-number .control-label,
.form .serial-number .control-label {
    width: 28%;
}

.form .customer-contact .control-value-container,
.form .unit-number .control-value-container,
.form .serial-number .control-value-container {
    width: 72%;
}

.notification .page-toolbar .notification-page-toolbar {
    width: 60%;
}

.form-group .control-value-container .notification-title-value {
    text-align: left;
}

.grid .statutory-compliance-nextdue-first-col {
    width: 8%;
}

.summary-form-group .statutory-compliance-lastperform-title-mobile,
.summary-form-group .statutory-compliance-lastworkorder-title-mobile {
    width: 48%;
}

.summary-form-group .statutory-compliance-lastperform-value-mobile,
.summary-form-group .statutory-compliance-lastworkorder-value-mobile {
    width: 50%;
}
#statutoryComplianceGridMobile .has-no-data {
    padding: 12px 35px;
}
@media (max-width: 768px) {
    .form .end-usage .col-icon,
    .form .end-date .col-icon {
        margin-right: 8px;
    }

    .form .end-usage .col-input,
    .form .end-date .col-input {
        width: 79%;
    }

    .page-content .summary-item .summary-text {
        width: 37%;
    }

    .form .separator-summary-total-cost {
        margin: 0;
        color: #dddddd;
        width: 66%;
    }

    .page-content .form .form-group .total-cost-label {
        width: 35%;
    }

    .page-content .form .form-group .total-cost-value {
        width: 65%;
    }

    .form .form-group .control-value-container .total-cost,
    .form .form-group .control-value-container .total-rate,
    .form .form-group .summary-item {
        width: 108%;
    }

    .page-content .summary-item .scope-detail-job-value {
        width: 20%;
    }

    .page-content .summary-item .scope-detail-job-title {
        width: 50%;
        padding-left: 15px;
        text-align: left;
    }

    .form .form-group .control-value-container .separator {
        margin: 0;
        color: #dddddd;
        width: 90%;
    }

    .form .unit-of-measure .control-label,
    .form .start-usage .control-label,
    .form .annual-utilisation .control-label,
    .form .end-usage .control-label,
    .form .start-date .control-label,
    .form .end-date .control-label,
    .form .customer .control-label,
    .form .pricing-rule .control-label,
    .form .location .control-label,
    .form .customer-contact .control-label,
    .form .unit-number .control-label,
    .form .serial-number .control-label {
        width: 40%;
    }

    .form .unit-of-measure .control-value-container,
    .form .start-usage .control-value-container,
    .form .annual-utilisation .control-value-container,
    .form .end-usage .control-value-container,
    .form .start-date .control-value-container,
    .form .end-date .control-value-container,
    .form .customer .control-value-container,
    .form .pricing-rule .control-value-container,
    .form .location .control-value-container,
    .form .customer-contact .control-value-container,
    .form .unit-number .control-value-container,
    .form .serial-number .control-value-container {
        width: 60%;
    }
    #pageLoaderContainerQuoteRepricing #pageLoaderQuoteRepricing {
        left: 38%;
    }
}
@media (max-width: 360px) {
    #pageLoaderContainerQuoteRepricing #pageLoaderQuoteRepricing {
        left: 25%;
    }
}
.break-line {
    white-space: pre-wrap;
}

.select2-container .select2-choice, .select2-result-label {
  font-size: 16px;
 overflow: hidden;
}

.form-control, .select2-container .select2-choice {
    height: 44px;
}

.select2-container .select2-choice > .select2-chosen , .select2-results .select2-result-label {
    padding-top: 10px;
}

.select2-container .select2-choice .select2-arrow b {  
    background-position: 0 10px;
}

.inspection-summary .page-content.tablet .form .form-group.group-inspection-results {
    height: 80px;
}
video, canvas {
  width: 100%    !important;
  height: auto   !important;
}